<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changeme.todolist"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:targetSdkVersion="19" android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        >
        <activity
            android:name=".MainActivity"
            android:logo="@drawable/abc_ic_ab_back_mtrl_am_alpha"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".TaskResearchActivity" />
            -->
        </activity>
        <activity
            android:name=".MyPreferenceActivity"
            android:label="@string/title_activity_my_preference" >
        </activity>
        <activity
            android:name=".TaskResearchActivity"
            android:label="@string/title_activity_task_research"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".sql.ToDoContentProvider"
            android:authorities="com.example.ldc.todolistprovider" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".TaskResearchActivity" />

        <activity
            android:name=".ContactSearchActivity"
            android:label="@string/title_activity_contact_search" >
        </activity>

    </application>

</manifest>
